<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for note in notes %}
            <li>{{ note }}</li>
        {%endfor%}
    </ul>
    <form action="/" method="POST">
        <input type="text" name="note" id="note">
        <button type="submit">create note</button>
    </form>
</body>
</html>